/* Add CSS styling here */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }


html{
    
    border:2px solid black;

 
}
body{
    background-color:white;
}
h1{
    padding:auto;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:30px;
    
}
h2{
    margin-bottom:50px;
}
.mid{
    display:flex;
    flex-direction: row;
    margin-top:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:30px;
}
.divone{
    width:60%;
    margin-top: 20px;
    padding-top:20px;
    padding-left:30px;
}
.divtwo{
    margin-top: 300px;
}
#proji{
    margin-bottom: 30px;
    width:150px;
    line-height: 40px;
    border:2px solid black;
    background-color: white;
}
.links{
    display:flex;
    justify-content: space-evenly;
    margin-left:90px;
    width:60%;
    margin-top:30px;
}
nav a{
    
    width:px;
}
.backgroundone{
    padding:0.2% 6% 6% 5%;
    line-height: 20px;
    border:1px solid black;
    background-color:grey;
    margin-top:40px;
}
nav {
    display:flex;
    
    width:20%;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    padding: 1% 1%;


}
p{
    font-family:sans-serif;
    margin-top:40px;
}
.low{
    
    margin-top:30px;
    

}
.firstcont{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    
}
.boxes{
    
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:40px 40px 20px 20px;
    margin-bottom:50px;
    
    
    
}
h3{
    text-align:center;
    margin-top:80px;align-items: center;
}
.boxi0{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.boxi1{
    
    background-color: salmon;
    flex-direction: row;
    align-items: center;
}
.boxi2{
    margin-left:40px;
    flex-direction:row;
    background-color: red;

}
.boxi3{
    background-color: skyblue;
}
.boxi4{background-color: springgreen;}
.boxi5{background-color: violet;}
.boxi6{background-color: peru;}
.boxi7{background-color: navy;}

.home{
    display:flex;
    color:white;
    background-color: black;
    border:2px solid black;
    justify-content: space-between;
    width:80%;
    text-decoration: none;
}
.about{
    color:black;
    display:flex;
    background-color:white;
    border:2px solid black;
    justify-content: space-between;
    width:80%;
    text-decoration: none;
}
.contact{
    color:black;
    background-color:white;
    border:2px solid black;
    justify-content: space-between;
    text-decoration: none;
    width:80%;
}
.projects{
    color:black;
    background-color:white;
    border:2px solid black;
    justify-content: space-around;
    text-decoration: none;
    width:80%;
}
#photoone{
    display:flex;
    padding: 0%,4%,5%,6%;
    border:1px solid black;
    width: 30%;
    height:auto;
}
.infome{
    display:flex;
    flex-direction: column;
    text-align:right;
    font-family: cursive;


}
#mhina{
    display:flex;

}
.projects{
    display:flex;
    align-content: space-between;
    
}
.projects div{
    
    
    border:2px solid black;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;

}
.projectone{
    display:flex;

    
}

.projects{
    display:flex;
  flex-wrap:wrap;
 align-content: space-around;


}
.projectone{
    padding:5% 5%;
    display:flex;
    align-self: center;
    flex-grow: 5;
    
    
}
.projecttwo{
    padding:5% 5%;
    display:flex;
align-self: center;
flex-grow: 5;
}

    .projectthree{
        padding:5% 5%;
        display:flex;
        align-self:center;
        flex-grow: 5;
    }
        .projectfour{
            padding:5% 5%;
            display:flex;
        align-self: center;
    flex-grow: 5;}
            .projectfive{
                padding:5% 5%;
                display:flex;
            align-self: center;
        flex-grow: 5;}
            
                .projectsix{
                    padding:5% 5%;
                    display:flex;
                align-self: center;}
                    .projectseven{
                        padding:5% 5%;
                        display:flex;
                    align-self: center;}

.backgroundtwo{
    

    padding:0.2% 6% 6% 5%;
    line-height: 60px;
    border:1px solid black;
    background-color:grey;
    text-align: center;
    font-family: cursive;
}
#buttonone{
    line-height: 10%;
    width: 30%;
    padding:1% 1% 1% 1%;
    border:2px solid black;
    
}
#buttontwo{
    line-height: 10%;
    width: 30%;
    padding:3% 4% 4% 3%;
    border:2px solid black;
}
.projectready{
    align-content: space-around; 

}
@media(max-width:800px){
    .backgroundone{
        width:40%;
        display:flex;
        flex-direction: column;
        
        
    }

       

    
    .mid{
        
        display:flex;
        flex-direction: column;
    }
    h1{
        width:30px;
    display:flex;
 align-items: center;
 align-items: stretch;
    }
    h2{
        height:2vh;
        margin-top:20px;
        display: flex;
        align-items: stretch;
    }
    .links{
       width:50px;
        
    }
    .coin{
        
        width:auto;
    }
    .links .home{
        width:auto;
        margin-right:10%;
        
        
}
.links .about{
    width: 100%;
    margin-right:10%;
    padding-right:7px;
}
.links .contact{
    width:150%;
    margin-right:10%;
}
.links .projects{
    width:150%;
}
img{
    width:44vh;
    
    margin-right:20%;
    height:80vh;
    
    
}

.divone{
    margin-bottom:50%;
    
}
.divtwo{
    display: flex;
    flex-direction: column;
    width:20vh;
    height:30vh;
    justify-content: stretch;
    margin-bottom:70%;
    
    
}
#proji{
    width:auto;
}
.low{
    
    width:30%;
}
.backgroundtwo{
 width:43.2%;
}
#buttontwo{
    width:auto;
}
}
@media(max-width:500px){


    .backgroundone{
        width:44%;
        display:flex;
        flex-direction: column;
        
        
    }
    .links{
        width:40%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

    }
   img{
   width:25vh;
   height:50vh;
   margin-right:30px;

   }
   .divone{
    width:auto;
}
.backgroundtwo{
    width:43.2%;
    height:40vh;
   }
   #buttontwo{
       width:auto;
       margin-top:8vh;
   }










}
